@import 'src/styles/variables';
.our-methods-item {
  width: fit-content;
  margin: auto;

  .our-methods-item-box {
    position: relative;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: 1000px;
    min-width: 1000px;
    height: 550px;
    // left: 5%;

    @media #{$info-phone-576} {
      width: 38vw;
      min-width: 38vw;
      height: 43vw;
    }

    @media #{$info-tablet-1399} {
      left: 1%;
      width: 51vw;
      min-width: 51vw;
      // height: 500px;
    }

    .avatar {
      position: relative;
      background-size: contain;
      display: inline-block;
      background-repeat: no-repeat;
      top: 14%;
      left: 6%;
      width: 35%;
      height: 35%;
      text-align: center;
    }

    .user-avatar {
      position: absolute;
      width: 25%;
      top: 18%;
      left: 23%;
      transform: translate(-50%, 0);
    }

    .user-grade {
      position: absolute;
      color: #fff;
      left: 67%;
      top: 28%;
      transform: translate(-50%, 0);
      font-size: 18px;
      width: max-content;
      bottom: 19px;
    }

    .user-name {
      position: relative;
      color: #fff;
      left: 100%;
      top: -15%;
      transform: translate(-50%, 0);
      font-size: 30x;
      bottom: 19px;
    }

    .user-summary-title {
      position: relative;
      color: #ffee54;
      left: 51%;
      top: 5%;
      transform: translate(-50%, 0);
      width: max-content;
      font-size: 30px;
      bottom: 19px;
    }

    .user-comment {
      position: relative;
      color: #fff;
      left: 55%;
      top: 10%;
      width: 450px;
      transform: translate(-50%, 0);
      bottom: 19px;
    }
  }
}
