@import 'src/styles/variables';

.core-skills {
  width: 100%;
  height: fit-content;
  padding-bottom: 250px;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  @media #{$info-phone} {
    padding-bottom: 20vw;
  }

  .title-main {
    margin: 62px 0 40px 0;
    @media #{$info-tablet-1399} {
      margin: 62px 0 40px 0;
    }
    @media #{$info-tablet-horizontal} {
      margin: 2.7vw 0 1.4vw 0;
    }
    @media #{$info-phone} {
      margin: 20px 0 0 0;
    }
  }

  .core-skills-box {
    position: relative;
    width: 100%;
    height: 20vw;
    margin-top: 100px;
    @media #{$info-tablet-1399} {
      margin-top: 8vw;
    }
    @media #{$info-phone} {
      height: 53vw;
    }
    .core-skills-item {
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      width: 20vw;
      height: 20vw;
      @media #{$info-phone} {
        width: 30vw;
        height: 30vw;
      }
      &.listening {
        left: 15vw;
        top: 0;
        z-index: 1;
        @media #{$info-phone} {
          left: 21vw;
        }
      }
      &.speaking {
        left: 33vw;
        top: 0;
        z-index: 2;
        @media #{$info-phone} {
          left: 48vw;
          top: 0;
        }
      }

      &.vocabulary {
        left: 51vw;
        top: 0;
        z-index: 2;
        @media #{$info-phone} {
          left: 21vw;
          top: 25vw;
        }
      }

      &.mouth-shape {
        z-index: 12;
        left: 69vw;
        top: 0;
        @media #{$info-phone} {
          left: 48vw;
          top: 25vw;
        }
      }

      &.food-2 {
        right: 28vw;
        top: 13vw;
        z-index: 1;
        @media #{$info-phone} {
          right: 19vw;
          top: 22vw;
        }
      }
      span {
        color: #fff;
        position: absolute;
        width: max-content;
        font-weight: 700;
        left: 50%;
        top: 50%;
        font-size: 2vw;
        transform: translate(-50%, -50%);
      }
    }
  }
}
