.key-features-icon {
  position: relative;
  display: inline-block;
  margin-right: 15%;
  width: 10%;
  //   width: 100%;
}

.key-features-icon-last {
  position: relative;
  display: inline-block;
  width: 10%;
  //   width: 100%;
}
