@import 'src/styles/variables';

.key-features-item {
  position: relative;
  width: 10%;
  display: inline-block;
  margin-right: 15%;
  .icon {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: -5vh;
    left: -50%;
    height: 32vh;
    min-width: 350px;
    opacity: 0;
    transition: 0.5s ease;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;

    @media #{$info-tablet-1399} {
      top: -135%;
      min-width: 280px;
    }

    .content {
      color: white;
      position: absolute;
      top: 16vh;
      left: 9vw;
      width: 10vw;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;

      @media #{$info-tablet-1399} {
        top: 16vh;
        left: 10vw;
        width: 210px;
      }
    }
  }
  span {
    position: relative;
    white-space: nowrap;
  }
}

.key-features-item:hover .overlay {
  opacity: 1;
}

.key-features-item-last {
  position: relative;
  width: 10%;
  display: inline-block;
  .icon {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: -5vh;
    left: -50%;
    height: 32vh;
    min-width: 350px;
    opacity: 0;
    transition: 0.5s ease;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    @media #{$info-tablet-1399} {
      top: -135%;
      min-width: 280px;
    }

    .content {
      color: #fff;
      position: absolute;
      top: 16vh;
      left: 9vw;
      width: 10vw;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;

      @media #{$info-tablet-1399} {
        top: 16vh;
        left: 10vw;
        width: 210px;
      }
    }
    span {
      position: relative;
      left: 0;
      white-space: nowrap;
    }
  }
}

.key-features-item-last:hover .overlay {
  opacity: 1;
}
