@import "src/styles/variables";
.explore{
  width: 100%;
  position: relative;
  height: fit-content;
  margin: 110px 0;
  @media #{$info-tablet-1399} {
    margin: 8vw 0 ;
  }
  .button-explore{
    margin: auto;
    display: flex;
    width: 80%;
    @media #{$info-phone} {
      width: 100%;
    }
    img{
      margin: auto;
      position: relative;
      cursor: pointer;
      width: 100%;
    }
  }
}