@import 'src/styles/variables';

.overview {
  z-index: 1;
  position: relative;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  color: #ffffff;
  @media #{$info-tablet-1399} {
    height: 680px;
  }
  @media #{$info-tablet-horizontal} {
    height: 56vw;
  }
  @media #{$info-tablet-991} {
    height: 450px;
  }
  @media #{$info-phone} {
    height: 800px;
  }
  .title-main {
    margin: 62px 0 40px 0;
    @media #{$info-tablet-1399} {
      margin: 62px 0 40px 0;
    }
    @media #{$info-tablet-horizontal} {
      margin: 2.7vw 0 1.4vw 0;
    }
    @media #{$info-phone} {
      margin: 20px 0 0 0;
    }
  }

  .content {
    position: absolute;
    width: 35%;
    text-align: center;
    left: 10%;

    @media #{$info-phone} {
      position: absolute;
      left: 2%;
      width: 95%;
    }
  }

  img {
    position: relative;
    float: right;
    width: 60%;
    left: 10%;

    @media #{$info-phone} {
      position: absolute;
      top: 50%;
      left: 2%;
      width: 95%;
    }
  }
}

@keyframes animateStar {
  0% {
    transform: rotate(581deg) translateX(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(581deg) translateX(-90vw);
    opacity: 0;
  }
}

@keyframes animateStarMobile {
  0% {
    transform: rotate(581deg) translateX(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(581deg) translateX(-150vw);
    opacity: 0;
  }
}

#root {
  .key-features {
    .swiper {
      position: initial;
      .swiper-pagination-bullet {
        background: #00ffd1;
      }
      .swiper-horizontal
        > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
      .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        bottom: -30px;
        @media #{$info-phone} {
          bottom: -3px;
        }
      }
    }
  }
}
