@import 'src/styles/variables';

.overview {
  position: relative;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;

  color: #ffffff;

  @media #{$info-tablet-1399} {
    min-height: 120vw;
  }

  @media #{$info-phone} {
    min-height: 120vw;
  }

  .title-main {
    margin: 62px 0 40px 0;
    @media #{$info-tablet-1399} {
      margin: 62px 0 40px 0;
    }
    @media #{$info-tablet-horizontal} {
      margin: 2.7vw 0 1.4vw 0;
    }
    @media #{$info-phone} {
      margin: 20px 0 0 0;
    }
  }

  .content {
    position: absolute;
    width: 500px;
    text-align: center;
    right: 58%;
    font-size: 16px;

    @media #{$info-tablet-1399} {
      left: 50%;
      top: 25%;
      width: 80%;
      font-size: 1.8vw;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    @media #{$info-phone} {
      position: relative;
      left: 50%;
      top: 30vw;
      width: 90vw;
      font-size: 2vw;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .model {
    position: relative;
    float: right;
    width: 750px;
    height: 450px;
    right: -10px;

    @media #{$info-tablet-1399} {
      position: absolute;
      top: 45%;
      left: 5%;
      height: 40vw;
      width: 90%;
    }

    @media #{$info-phone} {
      position: absolute;
      top: 60%;
      left: 5%;
      height: 40vw;
      width: 90%;
    }
  }
}
