@import 'src/styles/variables';

.overview {
  z-index: 1;
  position: relative;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  color: #ffffff;
  @media #{$info-tablet-1399} {
    height: 680px;
  }
  @media #{$info-tablet-horizontal} {
    height: 56vw;
  }
  @media #{$info-tablet-991} {
    height: 450px;
  }
  @media #{$info-phone} {
    height: 80vw;
  }
  .title-main {
    margin: 62px 0 40px 0;
    @media #{$info-tablet-1399} {
      margin: 62px 0 40px 0;
    }
    @media #{$info-tablet-horizontal} {
      margin: 2.7vw 0 1.4vw 0;
    }
    @media #{$info-phone} {
      margin: 20px 0 0 0;
    }
  }

  .content-wrapper {
    position: absolute;
    // width: 90%;
    left: 5%;
    right: 5%;
    .content {
      width: 40%;
    }

    .image-wrapper {
      position: relative;
      float: right;
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      width: 55%;
      margin: 0;
      @media #{$info-tablet-1399} {
        width: 145px;
        height: 57px;
        margin: 5px 0 0 0;
      }
      @media #{$info-phone} {
        display: none;
      }
      span {
        font-size: 0.85rem;
        position: absolute;
        left: 36%;
        top: 50%;
        font-weight: 600;
        color: #000000;
        text-align: center;
        width: max-content;
        transform: translate(-50%, -55%);
        @media #{$info-tablet-1399} {
          font-size: 12px;
        }
      }
      img {
        width: 100%;
      }

      .btn {
        position: relative;
      }
    }
  }
}

@keyframes animateStar {
  0% {
    transform: rotate(581deg) translateX(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(581deg) translateX(-90vw);
    opacity: 0;
  }
}

@keyframes animateStarMobile {
  0% {
    transform: rotate(581deg) translateX(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(581deg) translateX(-150vw);
    opacity: 0;
  }
}

#root {
  .key-features {
    .swiper {
      position: initial;
      .swiper-pagination-bullet {
        background: #00ffd1;
      }
      .swiper-horizontal
        > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
      .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        bottom: -30px;
        @media #{$info-phone} {
          bottom: -3px;
        }
      }
    }
  }
}
