@import "src/styles/variables";

.roadmap{
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  height: 1190px;
  @media #{$info-tablet-1399} {
    height: 72vw;
  }
  @media #{$info-tablet-991} {
    height: 85vw;
  }
  @media #{$info-phone} {
    height: 130vw;
  }
  .title-main{
    margin-top: 110px;
    @media #{$info-tablet-1399} {
      margin-top: 8vw;
    }
  }
  .roadmap-box{
    margin-top: 470px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 160px;
    @media #{$info-tablet-1399} {
      margin-top: 27vw;
      padding: 0 10vw;
    }
    @media #{$info-phone} {
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 8vw;
      height: 95vw;
    }
    .box-month{
      display: block;
      position: relative;
      height: 100px;
      width: 100px;
      @media #{$info-tablet-1399} {
        height: 6vw;
        width: 6vw;
      }
      @media #{$info-phone} {
        margin: auto;
        height: 10vw;
        width: 10vw;
      }
      .bg-month{
        height: 100px;
        width: 100px;
        display: block;
        border-radius: 1.9vw;
        transform: scaleX(1.6) rotate(45deg);
        background-color:rgba(0,0,0,0);
        color: #00C0D7;
        position: relative;
        z-index: 1;
        @media #{$info-tablet-1399} {
          height: 6vw;
          width: 6vw;
        }
        @media #{$info-phone} {
          height: 10vw;
          width: 10vw;
        }

        &::before{
          content: "";
          border-radius: 23px;
          background-color: #F3FAFF;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          @media #{$info-tablet-1399} {
            border-radius: 1.6vw;
          }
          @media #{$info-phone} {
            border-radius: 2.5vw;
          }
        }

        &::after{
          border-radius: 23px;
          transform: translate(8px, 8px);
          z-index: -1;
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @media #{$info-tablet-1399} {
            transform: translate(0.4vw, 0.4vw);
            border-radius: 1.6vw;
          }
          @media #{$info-phone} {
            border-radius: 2.5vw;
          }
        }

        &.green{
          box-shadow: 40px 40px 40px 0px rgba(#2FC6DA,0.7);
          @media #{$info-tablet-1399} {
            box-shadow: 1.8vw 1.8vw 4vw 0 rgba(#2FC6DA,0.8);
          }
          @media #{$info-phone} {
            box-shadow: 3vw 3vw 3vw 0 rgba(#2FC6DA,0.8);
          }
          &::after{
            background-color: #00C5FF;
          }
        }

        &.blue{
          box-shadow: 40px 40px 40px 0px rgba(#7778DE,0.7);
          @media #{$info-tablet-1399} {
            box-shadow: 1.8vw 1.8vw 3vw 0 rgba(#7778DE,0.8);
          }
          @media #{$info-phone} {
            box-shadow: 3vw 3vw 3vw 0 rgba(#7778DE,0.8);
          }
          &::after{
            background-color: #5342FF;
          }
        }

        &.yellow{
          box-shadow: 40px 40px 40px 0px rgba(#D19760 ,0.7);
          @media #{$info-tablet-1399} {
            box-shadow: 1.8vw 1.8vw 3vw 0 rgba(#D19760 ,0.8);
          }
          @media #{$info-phone} {
            box-shadow: 3vw 3vw 3vw 0 rgba(#D19760,0.8);
          }
          &::after{
            background-color: #D27315;
          }
        }

        &.purple{
          box-shadow: 40px 40px 40px 0px rgba(#955ECF,0.7);
          @media #{$info-tablet-1399} {
            box-shadow: 1.8vw 1.8vw 3vw 0 rgba(#955ECF,0.7);
          }
          @media #{$info-phone} {
            box-shadow: 3vw 3vw 3vw 0 rgba(#955ECF,0.8);
          }
          &::after{
            background-color: #9B28F2;
          }
        }
      }

      .text{
        position: absolute;
        font-size: 2rem;
        top: 48%;
        font-weight: bold;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        @media #{$info-tablet-1399} {
          font-size: 2vw;
        }
        @media #{$info-phone} {
          font-size: 2.6vw;
        }
        &.green{
          color: #00C0D7;
        }
        &.blue{
          color: #2000E6;
        }
        &.yellow{
          color: #FF5C00;
        }
        &.purple{
          color: #430073;
        }
      }

      .title-year{
        position: absolute;
        width: max-content;
        left: 50%;
        transform: translate(-50%,0);
        font-size: 3rem;
        z-index: 10;
        font-weight: bold;
        display: block;
        color: #FFFFFF;
        @media #{$info-tablet-1399} {
          font-size: 2rem;
        }
        @media #{$info-phone} {
          font-size: 7vw;
        }
        &.title-year-2022{
          bottom: -125px;
          left: 50%;
          @media #{$info-tablet-1399} {
            bottom: -95px;
            left: 50%;
          }
          @media #{$info-phone} {
            left: -30vw;
            bottom: .5vw;
            transform: none;
          }
        }
        &.title-year-2023{
          top: -125px;
          @media #{$info-tablet-1399} {
            top: -95px;
          }
          @media #{$info-phone} {
            right: -30vw;
            left: inherit;
            top: -0.5vw;
            transform: none;
          }
        }
        &.title-year-2023-second{
          bottom: -125px;
          @media #{$info-tablet-1399} {
            bottom: -95px;
          }
          @media #{$info-phone} {
            left: -30vw;
            bottom: .5vw;
            transform: none;
          }
        }
        &.title-year-2024{
          top: -125px;
          @media #{$info-tablet-1399} {
            top: -95px;
          }
          @media #{$info-phone} {
            right: -30vw;
            left: inherit;
            top: -0.5vw;
            transform: none;
          }
        }
      }

      .content-year{
        position: absolute;
        width: fit-content;
        font-size: 1rem;
        left: -18px;
        @media #{$info-tablet-1399} {
          font-size: 0.8rem;
        }
        @media #{$info-phone} {
          font-size: 2.1vw;

        }
        &.content-year-2022{
          top: -240px;
          @media #{$info-tablet-1399} {
            top: -195px;
          }
          @media #{$info-phone} {
            left: inherit;
            right: -42vw;
            top: -4vw;
          }
        }
        &.content-year-2023{
          bottom: -270px;
          @media #{$info-tablet-1399} {
            bottom: -220px;
          }
          @media #{$info-tablet-991} {
            bottom: -245px;
          }
          @media #{$info-phone} {
            left: -36vw;
            top: -9vw;
          }
        }
        &.content-year-2023-second{
          top: -185px;
          @media #{$info-tablet-1399} {
            top: -140px;
          }
          @media #{$info-phone} {
            left: inherit;
            right: -42vw;
            top: -2vw;
          }
        }
        &.content-year-2024{
          bottom: -145px;
          @media #{$info-tablet-1399} {
            bottom: -110px;
          }
          @media #{$info-phone} {
            left: -36vw;
            top: 1vw;
          }
        }
        li{
          position: relative;
          list-style: none;
          color: #FFFFFF;
          width: 20vw;
          margin-bottom: 5px;
          @media #{$info-phone} {
            width: 30vw;
            margin-bottom: 2px;
          }
          &::after{
            border-radius: 50%;
            position: absolute;
            content:"";
            background-color: white;
            width: 4px;
            height: 4px;
            left: -15px;
            top: 50%;
            transform: translate(0 , -50%);
          }
        }
      }
    }

    .vertical-light{
      position: absolute;
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 68.75%, rgba(247, 247, 247, 0) 100%);
      width: 100%;
      height: 6px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @media #{$info-tablet-1399} {
        height: 0.3vw;
      }
      @media #{$info-phone} {
        margin: auto;
        height: 90vw;
        width: .5vw;
      }
    }
  }

}